<!-- templates/register.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <!-- Incluye el CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card p-4 w-50">
            <h1 class="text-center">Registro</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block mt-3">Registro</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}">Si tienes actualmente una cuenta, inicia su sesión</a>
            </div>
        </div>
    </div>

    <!-- Incluye el JS de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
